Repository CoolCat467/Scanner-Server: changes, and which pre-commit hooks are due for each by the changed paths.
All: project-requirements, regenerate-files

.pre-commit-config.yaml:

ci:
  autofix_prs: true
  autoupdate_schedule: quarterly
  submodules: false
  skip: [badgie, project-requirements, regenerate-files]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: sort-simple-yaml
        files: .pre-commit-config.yaml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        types: [file]
        types_or: [python, pyi, toml]
        args: ["--show-fixes"]
  - repo: https://github.com/CoolCat467/badgie
    rev: v0.9.6
    hooks:
      - id: badgie
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: project-requirements
        name: regenerate requirements.in
        language: system
        entry: python tools/project_requirements.py
        pass_filenames: false
        files: ^(test-requirements.in)|(pyproject.toml)$
  - repo: local
    hooks:
      - id: regenerate-files
        name: regenerate generated files
        language: system
        entry: python src/sanescansrv/generate_pages.py
        pass_filenames: false
        files: ^src\/sanescansrv\/(((htmlgen|generate_pages)\.py)|((static|templates)\/.+\.\w+))$

Update dependencies and update project
  .github/workflows/autodeps.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/sanescansrv/generate_pages.py
  src/sanescansrv/server.py
  test-requirements.in
  test-requirements.txt
Due: project-requirements, regenerate-files

Revert removing type ignores
  src/sanescansrv/server.py
Due: none

Update dependencies & project
  .pre-commit-config.yaml
  pyproject.toml
  src/sanescansrv/server.py
  test-requirements.in
  test-requirements.txt
Due: project-requirements

Make path not based on current working directory
  .pre-commit-config.yaml
  src/sanescansrv/generate_pages.py
Due: regenerate-files

Switch to use `uv.lock`
  .github/workflows/autodeps.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  check.sh
  ci.sh
  pyproject.toml
  test-requirements.in
  test-requirements.txt
  tools/project_requirements.py
  uv.lock
Due: project-requirements

Remove broken links
  CONTRIBUTING.md
Due: none

Use uniform line length in Document
  CONTRIBUTING.md
Due: none

Update pytest usage
  CONTRIBUTING.md
Due: none

Include uv sync in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add note about `pre-commit run --all` and installing test dependencies
  CONTRIBUTING.md
Due: none

Substitute Device dictionary with dataclasses
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
Due: regenerate-files

Add documentation for installing uv
  CONTRIBUTING.md
Due: none

WIP fix type issues
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  src/sanescansrv/templates/root_get.html.jinja
Due: regenerate-files

Remove type_convert callable support, fix attribute names, and handle checkboxes better
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
Due: regenerate-files

Get htmlgen coverage back to 100%
  tests/test_htmlgen.py
Due: none

Update htmlgen from MineOS-Market-Server
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/static/style.css
  tests/test_htmlgen.py
Due: regenerate-files

Upgrade dependencies
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: project-requirements

Upgrade dependencies & fix autodeps
  .github/workflows/autodeps.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

Update dependencies and handle attribute error case
  .pre-commit-config.yaml
  src/sanescansrv/server.py
  uv.lock
Due: none

Fix address protocol in console
  src/sanescansrv/server.py
Due: none

Switch to https://github.com/adhtruong/mirrors-typos See https://github.com/crate-ci/typos/issues/390
  .pre-commit-config.yaml
Due: none

Upgrade dependencies
  uv.lock
Due: none

Use bleading edge flask release https://github.com/pallets/flask/pull/5659 just got merged fixing the typing issues, but they haven't made a release yet so use the repo directly until that happens
  pyproject.toml
  src/sanescansrv/server.py
  uv.lock
Due: project-requirements

Bump quart-trio to v0.12.0
  pyproject.toml
  uv.lock
Due: project-requirements

Update dependencies & pre-commit hooks Skip zizmor for now
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: project-requirements

Add dark-mode support
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/static/style.css
Due: regenerate-files

Add test for css subblock
  tests/test_htmlgen.py
Due: none

Bump to version 3.1.1
  src/sanescansrv/server.py
  src/sanescansrv/templates/error_page.html.jinja
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scan-status_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
Due: regenerate-files

Revert "Bump to version 3.1.1"
  src/sanescansrv/server.py
  src/sanescansrv/templates/error_page.html.jinja
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scan-status_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
Due: regenerate-files

Bump to v3.2.0
  src/sanescansrv/server.py
  src/sanescansrv/templates/error_page.html.jinja
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scan-status_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
Due: regenerate-files

Remove dark mode link changes and remove flask pin Flask 3.1.1 is finally out, no need to pin version any longer.
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/sanescansrv/generate_pages.py
  src/sanescansrv/server.py
  src/sanescansrv/static/style.css
  uv.lock
  zizmor.yml
Due: project-requirements, regenerate-files

Fix default scanner autoselect
  README.md
  pyproject.toml
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  src/sanescansrv/templates/root_get.html.jinja
  uv.lock
Due: project-requirements, regenerate-files

Update tests
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  tests/test_htmlgen.py
  uv.lock
Due: regenerate-files

Fix 3.9 issue
  src/sanescansrv/htmlgen.py
Due: regenerate-files

Drop support for EOL Python 3.9, update dependencies, switch to ruff formatting
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  check.sh
  ci.sh
  pyproject.toml
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  tests/test_htmlgen.py
  uv.lock
Due: project-requirements, regenerate-files

Update dependencies, remove trio coverage from CI, refresh templates
  .pre-commit-config.yaml
  README.md
  ci.sh
  pyproject.toml
  src/sanescansrv/templates/settings.html.jinja
  uv.lock
Due: project-requirements, regenerate-files

Updates from `Leaderboard` project Update htmlgen and generate_pages modules, add new server_utils module, and add unit tests
  src/sanescansrv/elapsed.py
  src/sanescansrv/generate_pages.py
  src/sanescansrv/htmlgen.py
  src/sanescansrv/server.py
  src/sanescansrv/server_utils.py
  src/sanescansrv/templates/base.html.jinja
  src/sanescansrv/templates/error_page.html.jinja
  src/sanescansrv/templates/root_get.html.jinja
  src/sanescansrv/templates/scan-status_get.html.jinja
  src/sanescansrv/templates/scanners_get.html.jinja
  src/sanescansrv/templates/settings_get.html.jinja
  tests/test_elapsed.py
  tests/test_htmlgen.py
  tests/test_server_utils.py
Due: regenerate-files

Update lockfile & pre-commit hooks
  .pre-commit-config.yaml
  README.md
  uv.lock
Due: none

Update Pillow version minimum
  pyproject.toml
  uv.lock
Due: project-requirements
